.modal {
  left: 25%;
  position: fixed;
  width: 60vw;
  height: 50vh;
  background-color: #f5f5f5;
  border: thin black solid;

  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalContent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 80%;
  width: 100%;
}
.modalHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: larger;
}
.modalCloseButton {
  cursor: pointer;
  position: absolute;
  right: 0;
}
.modalShuffleButton {
  cursor: pointer;
  position: absolute;
  left: 0;
}
.setDecksModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}